<% if @offers.length > 0 %>
    <% @offers.each do |offer| %>
    <div class=‘offer’>
      <div class=‘title’><%= link_to offer['title'], offer['link'] %></div>
      <div class=‘payout’><%= offer['payout'] %></div>
      <div class=‘thumbnail’><%= offer['thumbnail']['hires'] %></div>
    </div>
    <% end %>
<% else %>
    <div class=‘no_offers’>
      No offers
    </div>
<% end %>
